.bg_anim {
  background: linear-gradient(
    216deg,
    #30c59e,
    #643ce1,
    #ea7a1f,
    #ea1fb6,
    #f26530,
    #30cef2,
    #30f240
  );
  background-size: 1400% 1400%;
  background-clip: text;
  color: transparent;

  -webkit-animation: BgAnim 13s ease infinite;
  -moz-animation: BgAnim 13s ease infinite;
  animation: BgAnim 13s ease infinite;
}

@-webkit-keyframes BgAnim {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}
@-moz-keyframes BgAnim {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}
@keyframes BgAnim {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}
